<a href="https://colab.research.google.com/github/Thejesh224/Thejesh224/blob/main/SQL_Bank_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!apt-get install sqlite3
!pip install pandas

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 35 not upgraded.
Need to get 769 kB of archives.
After this operation, 1,874 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.5 [769 kB]
Fetched 769 kB in 1s (811 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 126374 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.5_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.5) ...
Setting up sqlite3 (3.37.2-2ubuntu0.5) ...
Processing triggers for man-db (2.10.2-1) ...
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import sqlite3
import pandas as pd
import os

In [ ]:
conn = sqlite3.connect("my_database.db")

In [ ]:
#define the correct path for database
db_Path="/content/drive/MyDrive/my_database.db"

In [ ]:
db_folder="/content/drive/MyDrive/Thejesh_Project folder"
os.makedirs(db_folder , exist_ok=True) #ensure the folder exists
db_path=os.path.join(db_folder,"my_database.db")


conn=sqlite3.connect(db_path)
cursor=conn.cursor()


print("Database connected at:",db_path)

Database connected at: /content/drive/MyDrive/Thejesh_Project folder/my_database.db

**Customer table**

In [ ]:
cursor.execute('''
CREATE TABLE CUSTOMERS ( customer_id INT ,
             	customer_name VARCHAR(20),
             	Address 	VARCHAR(20),
             	state_code  VARCHAR(3) ,
             	Telephone   VARCHAR(10)	);

''')
conn.commit()

In [ ]:
def INSERT_CUSTOMERS(CUSTOMER_ID,CUSTOMER_NAME,ADDRESS,STATE_CODE,TELEPHONE):
  cursor.execute("INSERT INTO CUSTOMERS(CUSTOMER_ID,CUSTOMER_NAME,ADDRESS,STATE_CODE,TELEPHONE) VALUES(?,?,?,?,?)",
   (CUSTOMER_ID,CUSTOMER_NAME,ADDRESS,STATE_CODE,TELEPHONE))
  conn.commit()
#INSERT1
INSERT_CUSTOMERS(123001,"UDAY", "225-5, Emeryville", "CA" , "1897614500")
INSERT_CUSTOMERS(123002,"VAMSI", "194-6,New brighton","MN" , "1897617000")
INSERT_CUSTOMERS(123003,"RITHIKA", "2909-5,walnut creek","CA" , "1897617866")
INSERT_CUSTOMERS(123004,"JYOTHI", "229-5, Concord",  	"CA" , "1897627999")
INSERT_CUSTOMERS(123005,"THARUN", "325-7, Mission Dist","SFO", "1897637000")
INSERT_CUSTOMERS(123006,"JYOTHISWAR", "275-9, saint-paul" ,  "MN" , "1897613200")
INSERT_CUSTOMERS(123007,"URVISH","125-1,Richfield",   "MN" , "1897617666")
INSERT_CUSTOMERS(123008,"LOHITH KARITHIK","3005-1,Heathrow", 	"NY" , "1897614000")

In [ ]:
pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (0.9.0)

In [ ]:
from tabulate import tabulate

# fetch the data
cursor.execute("SELECT * FROM CUSTOMERS ")
rows = cursor.fetchall()

# get the column names
column_names = [desc[0] for desc in cursor.description]

# print in tabular format
print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------+-----------------+---------------------+--------------+-------------+
|   customer_id | customer_name   | Address             | state_code   |   Telephone |
+===============+=================+=====================+==============+=============+
|        123001 | UDAY            | 225-5, Emeryville   | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123002 | VAMSI           | 194-6,New brighton  | MN           |  1897617000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123003 | RITHIKA         | 2909-5,walnut creek | CA           |  1897617866 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123004 | JYOTHI          | 229-5, Concord      | CA           |  1897627999 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123005 | THARUN          | 325-7, Mission Dist | SFO          |  1897637000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123006 | JYOTHISWAR      | 275-9, saint-paul   | MN           |  1897613200 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123007 | URVISH          | 125-1,Richfield     | MN           |  1897617666 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123008 | LOHITH KARITHIK | 3005-1,Heathrow     | NY           |  1897614000 |
+---------------+-----------------+---------------------+--------------+-------------+

**Bank Customer Export Table**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_CUSTOMER_EXPORTER ( customer_id CHAR(10),
customer_name CHAR(20),
Address CHAR(20),
state_code  CHAR(3) ,
Telephone  CHAR(10));
''')
conn.commit()

In [ ]:
cursor.execute("INSERT INTO BANK_CUSTOMER_EXPORTER VALUES (\"123001 \",\"UDAY\", \"225-5, Emeryville\", \"CA\" , \"1897614500\")")
cursor.execute("INSERT INTO BANK_CUSTOMER_EXPORTER VALUES (\"123002 \",\"VAMSI\", \"194-6,New brighton\",\"MN\" , \"189761700\")")
conn.commit()

In [ ]:
from tabulate import tabulate

cursor.execute("SELECT * FROM BANK_CUSTOMER_EXPORTER ")
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]

print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------+-----------------+--------------------+--------------+-------------+
|   customer_id | customer_name   | Address            | state_code   |   Telephone |
+===============+=================+====================+==============+=============+
|       123001  | UDAY            | 225-5, Emeryville  | CA           |  1897614500 |
+---------------+-----------------+--------------------+--------------+-------------+
|       123002  | VAMSI           | 194-6,New brighton | MN           |   189761700 |
+---------------+-----------------+--------------------+--------------+-------------+

**BANK ACCOUNT DETAILS TABLE**

In [ ]:
cursor.execute('''
CREATE TABLE Bank_Account_Detail(Customer_id INT,
                                Account_Number VARCHAR(19),
                                Account_type VARCHAR(25),
                                    Balance_amount INT,
                                Account_status VARCHAR(10),
                                Relationship_type varchar(1) ) ;
''')
conn.commit()

In [ ]:
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123001, '4000-1956-3456',  'SAVINGS' , 200000 ,'ACTIVE','P')")
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123001, '5000-1700-3456', 'RECURRING DEPOSITS' ,9400000 ,'ACTIVE','S')")
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123002, '4000-1956-2001',  'SAVINGS', 400000 ,'ACTIVE','P')")
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123002, '5000-1700-5001',  'RECURRING DEPOSITS' ,7500000 ,'ACTIVE','S')")
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123003, '4000-1956-2900',  'SAVINGS' ,750000,'INACTIVE','P')")
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123004, '5000-1700-6091', 'RECURRING DEPOSITS' ,7500000 ,'ACTIVE','S')")
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123004, '4000-1956-3401',  'SAVINGS' , 655000 ,'ACTIVE','P')")
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123005, '4000-1956-5102',  'SAVINGS' , 300000 ,'ACTIVE','P')")
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123006, '4000-1956-5698',  'SAVINGS' , 455000 ,'ACTIVE' ,'P')")
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123007, '5000-1700-9800',  'SAVINGS' , 355000 ,'ACTIVE' ,'P')")
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123007, '4000-1956-9977',  'RECURRING DEPOSITS' , 7025000,'ACTIVE' ,'S')")
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123007, '9000-1700-7777-4321',  'Credit Card' ,0  ,'INACTIVE', 'P')")
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123007, '5900-1900-9877-5543', 'Add-on Credit Card' ,   0   ,'ACTIVE', 'S')")
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123008, '5000-1700-7755',  'SAVINGS'          ,0      ,'INACTIVE','P')")
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123006, '5800-1700-9800-7755', 'Credit Card'   ,0     ,'ACTIVE', 'P')")
cursor.execute("INSERT INTO Bank_Account_Detail  VALUES (123006, '5890-1970-7706-8912', 'Add-on Credit Card'   ,0      ,'ACTIVE', 'S')")
conn.commit()

In [ ]:
from tabulate import tabulate

cursor.execute("SELECT * FROM Bank_Account_Detail")
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]

print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|   Customer_id | Account_Number      | Account_type       |   Balance_amount | Account_status   | Relationship_type   |
+===============+=====================+====================+==================+==================+=====================+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        |                0 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 5900-1900-9877-5543 | Add-on Credit Card |                0 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123008 | 5000-1700-7755      | SAVINGS            |                0 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 5800-1700-9800-7755 | Credit Card        |                0 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 5890-1970-7706-8912 | Add-on Credit Card |                0 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+

**Bank Account Details Table**

In [ ]:
cursor.execute('''
CREATE TABLE Bank_Account_Details(Customer_id INT,
                                Account_Number VARCHAR(19),
                                Account_type VARCHAR(25),
                                    Balance_amount INT,
                                Account_status VARCHAR(10),
                                Relationship_type varchar(1) ) ;
''')
conn.commit()

In [ ]:
cursor.execute("INSERT INTO Bank_Account_Details  VALUES (123001, '4000-1956-3456',  'SAVINGS' , 200000 ,'ACTIVE','P')")
cursor.execute("INSERT INTO Bank_Account_Details  VALUES (123001, '5000-1700-3456', 'RECURRING DEPOSITS' ,9400000 ,'ACTIVE','S')")
cursor.execute("INSERT INTO Bank_Account_Details VALUES (123002, '4000-1956-2001',  'SAVINGS', 400000 ,'ACTIVE','P')")
cursor.execute("INSERT INTO Bank_Account_Details  VALUES (123002, '5000-1700-5001',  'RECURRING DEPOSITS' ,7500000 ,'ACTIVE','S')")
cursor.execute("INSERT INTO Bank_Account_Details  VALUES (123003, '4000-1956-2900',  'SAVINGS' ,750000,'INACTIVE','P')")
cursor.execute("INSERT INTO Bank_Account_Details  VALUES (123004, '5000-1700-6091', 'RECURRING DEPOSITS' ,7500000 ,'ACTIVE','S')")
cursor.execute("INSERT INTO Bank_Account_Details  VALUES (123004, '4000-1956-3401',  'SAVINGS' , 655000 ,'ACTIVE','P')")
cursor.execute("INSERT INTO Bank_Account_Details  VALUES (123005, '4000-1956-5102',  'SAVINGS' , 300000 ,'ACTIVE','P')")
cursor.execute("INSERT INTO Bank_Account_Details  VALUES (123006, '4000-1956-5698',  'SAVINGS' , 455000 ,'ACTIVE' ,'P')")
cursor.execute("INSERT INTO Bank_Account_Details  VALUES (123007, '5000-1700-9800',  'SAVINGS' , 355000 ,'ACTIVE' ,'P')")
cursor.execute("INSERT INTO Bank_Account_Details  VALUES (123007, '4000-1956-9977',  'RECURRING DEPOSITS' , 7025000,'ACTIVE' ,'S')")
cursor.execute("INSERT INTO Bank_Account_Details  VALUES (123007, '9000-1700-7777-4321',  'Credit Card' ,0  ,'INACTIVE', 'P')")
cursor.execute("INSERT INTO Bank_Account_Details  VALUES (123007, '5900-1900-9877-5543', 'Add-on Credit Card' ,   0   ,'ACTIVE', 'S')")
cursor.execute("INSERT INTO Bank_Account_Details  VALUES (123008, '5000-1700-7755',  'SAVINGS'          ,0      ,'INACTIVE','P')")
cursor.execute("INSERT INTO Bank_Account_Details  VALUES (123006, '5800-1700-9800-7755', 'Credit Card'   ,0     ,'ACTIVE', 'P')")
cursor.execute("INSERT INTO Bank_Account_Details  VALUES (123006, '5890-1970-7706-8912', 'Add-on Credit Card'   ,0      ,'ACTIVE', 'S')")
conn.commit()

In [ ]:
from tabulate import tabulate

cursor.execute("SELECT * FROM Bank_Account_Details")
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]

print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|   Customer_id | Account_Number      | Account_type       |   Balance_amount | Account_status   | Relationship_type   |
+===============+=====================+====================+==================+==================+=====================+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        |                0 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 5900-1900-9877-5543 | Add-on Credit Card |                0 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123008 | 5000-1700-7755      | SAVINGS            |                0 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 5800-1700-9800-7755 | Credit Card        |                0 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 5890-1970-7706-8912 | Add-on Credit Card |                0 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+

**Bank Account Table**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_ACCOUNTS ( Customer_id INT,
	                Account_Number VARCHAR(19),
		     Account_type VARCHAR(25),
		     Balance_amount INT ,
			Account_status VARCHAR(10), Relation_ship varchar(1) ) ;
''')
conn.commit()

In [ ]:
cursor.execute("INSERT INTO BANK_ACCOUNTS  VALUES (123001, '4000-1956-3456',  'SAVINGS'            , 200000 ,'ACTIVE','P')")
cursor.execute("INSERT INTO BANK_ACCOUNTS  VALUES (123001, '5000-1700-3456',  'RECURRING DEPOSITS' ,9400000 ,'ACTIVE','S')")
cursor.execute("INSERT INTO BANK_ACCOUNTS  VALUES (123002, '4000-1956-2001',  'SAVINGS'            , 400000 ,'ACTIVE','P')")
cursor.execute("INSERT INTO BANK_ACCOUNTS  VALUES (123002, '5000-1700-5001',  'RECURRING DEPOSITS' ,7500000 ,'ACTIVE','S')")
cursor.execute("INSERT INTO BANK_ACCOUNTS  VALUES (123003, '4000-1956-2900',  'SAVINGS'            ,750000,'INACTIVE','P')")
cursor.execute("INSERT INTO BANK_ACCOUNTS  VALUES (123004, '5000-1700-6091',  'RECURRING DEPOSITS' ,7500000 ,'ACTIVE','S')")
cursor.execute("INSERT INTO BANK_ACCOUNTS  VALUES (123004, '4000-1956-3401',  'SAVINGS'            , 655000 ,'ACTIVE','P')")
cursor.execute("INSERT INTO BANK_ACCOUNTS  VALUES (123005, '4000-1956-5102',  'SAVINGS'            , 300000 ,'ACTIVE','P')")
cursor.execute("INSERT INTO BANK_ACCOUNTS  VALUES (123005, '4000-1956-5102',  'SAVINGS'            , 300000 ,'ACTIVE','P')")
cursor.execute("INSERT INTO BANK_ACCOUNTS  VALUES (123006, '4000-1956-5698',  'SAVINGS'            , 455000 ,'ACTIVE' ,'P')")
cursor.execute("INSERT INTO BANK_ACCOUNTS  VALUES (123007, '5000-1700-9800',  'SAVINGS'            , 355000 ,'ACTIVE' ,'P')")
cursor.execute("INSERT INTO BANK_ACCOUNTS  VALUES (123007, '4000-1956-9977',  'RECURRING DEPOSITS' , 7025000,'ACTIVE' ,'S')")
cursor.execute("INSERT INTO BANK_ACCOUNTS  VALUES (123007, '9000-1700-7777-4321',  'CREDITCARD'    ,0      ,'INACTIVE','P')")
cursor.execute("INSERT INTO BANK_ACCOUNTS  VALUES (123008, '5000-1700-7755',  'SAVINGS'            ,NULL   ,'INACTIVE','P')")
conn.commit()

In [ ]:
from tabulate import tabulate

cursor.execute("SELECT * FROM BANK_ACCOUNTS")
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]

print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|   Customer_id | Account_Number      | Account_type       |   Balance_amount | Account_status   | Relation_ship   |
+===============+=====================+====================+==================+==================+=================+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 9000-1700-7777-4321 | CREDITCARD         |                0 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123008 | 5000-1700-7755      | SAVINGS            |                  | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+

**Bank Account Relationship Details Table**

In [ ]:
cursor.execute('''
CREATE TABLE Bank_Account_Relationship_Details( Customer_id INT,
                                                                Account_Number VARCHAR(19),
                                Account_type VARCHAR(25),
                                Linking_Account_Number VARCHAR(19));
''')
conn.commit()

In [ ]:
cursor.execute("INSERT INTO Bank_Account_Relationship_Details  VALUES (123001, '4000-1956-3456',  'SAVINGS' , '')")
cursor.execute("INSERT INTO Bank_Account_Relationship_Details  VALUES (123001, '5000-1700-3456',  'RECURRING DEPOSITS' , '4000-1956-3456')")
cursor.execute("INSERT INTO Bank_Account_Relationship_Details  VALUES (123002, '4000-1956-2001',  'SAVINGS' , '' )")
cursor.execute("INSERT INTO Bank_Account_Relationship_Details  VALUES (123002, '5000-1700-5001',  'RECURRING DEPOSITS' , '4000-1956-2001' )")
cursor.execute("INSERT INTO Bank_Account_Relationship_Details  VALUES (123003, '4000-1956-2900',  'SAVINGS' , '' )")
cursor.execute("INSERT INTO Bank_Account_Relationship_Details  VALUES (123004, '5000-1700-6091',  'RECURRING DEPOSITS' , '4000-1956-2900' )")
cursor.execute("INSERT INTO Bank_Account_Relationship_Details  VALUES (123004, '5000-1700-7791',  'RECURRING DEPOSITS' , '4000-1956-2900' )")
cursor.execute("INSERT INTO Bank_Account_Relationship_Details  VALUES (123007, '5000-1700-9800',  'SAVINGS' , '' )")
cursor.execute("INSERT INTO Bank_Account_Relationship_Details  VALUES (123007, '4000-1956-9977',  'RECURRING DEPOSITS' , '5000-1700-9800' )")
cursor.execute("INSERT INTO Bank_Account_Relationship_Details  VALUES (NULL, '9000-1700-7777-4321',  'Credit Card' , '5000-1700-9800' )")
cursor.execute("INSERT INTO Bank_Account_Relationship_Details  VALUES (NULL, '5900-1900-9877-5543', 'Add-on Credit Card', '9000-1700-7777-4321' )")
cursor.execute("INSERT INTO Bank_Account_Relationship_Details  VALUES (NULL, '5800-1700-9800-7755', 'Credit Card', '4000-1956-5698' )")
cursor.execute("INSERT INTO Bank_Account_Relationship_Details  VALUES (NULL, '5890-1970-7706-8912', 'Add-on Credit Card', '5800-1700-9800-7755' )")
conn.commit()

In [ ]:
from tabulate import tabulate

cursor.execute("SELECT * FROM Bank_Account_Relationship_Details")
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]

print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------+---------------------+--------------------+--------------------------+
|   Customer_id | Account_Number      | Account_type       | Linking_Account_Number   |
+===============+=====================+====================+==========================+
|        123001 | 4000-1956-3456      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS | 4000-1956-3456           |
+---------------+---------------------+--------------------+--------------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS | 4000-1956-2001           |
+---------------+---------------------+--------------------+--------------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
|        123004 | 5000-1700-7791      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
|               | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
|               | 5900-1900-9877-5543 | Add-on Credit Card | 9000-1700-7777-4321      |
+---------------+---------------------+--------------------+--------------------------+
|               | 5800-1700-9800-7755 | Credit Card        | 4000-1956-5698           |
+---------------+---------------------+--------------------+--------------------------+
|               | 5890-1970-7706-8912 | Add-on Credit Card | 5800-1700-9800-7755      |
+---------------+---------------------+--------------------+--------------------------+

**Bank Account Transaction Table**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_ACCOUNTS_TRANSACTIONS (
              	Account_Number VARCHAR(19),
              	Transaction_amount Decimal(18,2) ,
              	Transcation_channel VARCHAR(18) ,
             	Province varchar(3) ,
             	Transaction_Date Date) ;
''')
conn.commit()

In [ ]:
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '4000-1956-3456',  -2000, 'ATM withdrawl' , 'CA', '2020-01-13')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '4000-1956-2001',  -4000, 'POS-Walmart'   , 'MN', '2020-02-14')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '4000-1956-2001',  -1600, 'UPI transfer'  , 'MN', '2020-01-19')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '4000-1956-2001',  -6000, 'Bankers cheque', 'CA', '2020-03-23')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '4000-1956-2001',  -3000, 'Net banking'   , 'CA', '2020-04-24')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '4000-1956-2001',  23000, 'cheque deposit', 'MN', '2020-03-15')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '5000-1700-6091',  40000, 'ECS transfer'  , 'NY', '2020-02-19')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '5000-1700-7791',  40000, 'ECS transfer'  , 'NY', '2020-02-19')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '4000-1956-3401',   8000, 'Cash Deposit'  , 'NY', '2020-01-19')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '4000-1956-5102',  -6500, 'ATM withdrawal' , 'NY', '2020-03-14')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '4000-1956-5698',  -9000, 'Cash Deposit'  , 'NY', '2020-03-27')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '4000-1956-9977',  50000, 'ECS transfer'  , 'NY', '2020-01-16')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '9000-1700-7777-4321',  -5000, 'POS-Walmart', 'NY', '2020-02-17')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '9000-1700-7777-4321',  -8000, 'Shopping Cart', 'MN', '2020-03-13')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '9000-1700-7777-4321',  -2500, 'Shopping Cart', 'MN', '2020-04-21')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '5800-1700-9800-7755', -9000, 'POS-Walmart','MN', '2020-04-13')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTIONS VALUES ( '5890-1970-7706-8912', -11000, 'Shopping Cart' , 'NY' , '2020-03-12')")
conn.commit()

In [ ]:
from tabulate import tabulate

cursor.execute("SELECT * FROM BANK_ACCOUNTS_TRANSACTIONS")
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]

print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------------+----------------------+-----------------------+------------+--------------------+
| Account_Number      |   Transaction_amount | Transcation_channel   | Province   | Transaction_Date   |
+=====================+======================+=======================+============+====================+
| 4000-1956-3456      |                -2000 | ATM withdrawl         | CA         | 2020-01-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -4000 | POS-Walmart           | MN         | 2020-02-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -1600 | UPI transfer          | MN         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -6000 | Bankers cheque        | CA         | 2020-03-23         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -3000 | Net banking           | CA         | 2020-04-24         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                23000 | cheque deposit        | MN         | 2020-03-15         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-6091      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-7791      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-3401      |                 8000 | Cash Deposit          | NY         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5102      |                -6500 | ATM withdrawal        | NY         | 2020-03-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5698      |                -9000 | Cash Deposit          | NY         | 2020-03-27         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                50000 | ECS transfer          | NY         | 2020-01-16         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -5000 | POS-Walmart           | NY         | 2020-02-17         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -8000 | Shopping Cart         | MN         | 2020-03-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -2500 | Shopping Cart         | MN         | 2020-04-21         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5800-1700-9800-7755 |                -9000 | POS-Walmart           | MN         | 2020-04-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5890-1970-7706-8912 |               -11000 | Shopping Cart         | NY         | 2020-03-12         |
+---------------------+----------------------+-----------------------+------------+--------------------+

**Bank customer messages table**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_CUSTOMERS_MESSAGES (
              	Event VARCHAR(24),
              	Customer_message VARCHAR(75),
              	Notice_delivery_mode VARCHAR(15)) ;
''')
conn.commit()

In [ ]:
cursor.execute("INSERT INTO BANK_CUSTOMERS_MESSAGES VALUES ('Adhoc', 'All Banks are closed due to announcement of National strike', 'mobile')")
cursor.execute("INSERT INTO BANK_CUSTOMERS_MESSAGES VALUES ('Transaction Limit', 'Only limited withdrawals per card are allowed from ATM machines', 'mobile')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTION(`Account_Number`, `Transaction_amount`, `Transcation_channel`, `Province`, `Transaction_Date`) VALUES ('4000-1956-9977' , 10000.00 ,'ECS transfer', 'MN' , '2020-02-16')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTION(`Account_Number`, `Transaction_amount`, `Transcation_channel`, `Province`, `Transaction_Date`) VALUES ('4000-1956-9977' , 40000.00 ,'ECS transfer', 'MN' , '2020-03-18')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTION(`Account_Number`, `Transaction_amount`, `Transcation_channel`, `Province`, `Transaction_Date`) VALUES ('4000-1956-9977' , 60000.00 ,'ECS transfer', 'MN' , '2020-04-18')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTION(`Account_Number`, `Transaction_amount`, `Transcation_channel`, `Province`, `Transaction_Date`) VALUES ('4000-1956-9977' , 20000.00 ,'ECS transfer', 'MN' , '2020-03-20')")
cursor.execute("INSERT INTO BANK_ACCOUNTS_TRANSACTION(`Account_Number`, `Transaction_amount`, `Transcation_channel`, `Province`, `Transaction_Date`) VALUES ('4000-1956-9977' , 49000.00 ,'ECS transfer', 'MN' , '2020-06-18')")

conn.commit()

OperationalError: table BANK_ACCOUNTS_TRANSACTION has no column named Transcation_channel

In [ ]:
from tabulate import tabulate

cursor.execute("SELECT * FROM BANK_ACCOUNTS_TRANSACTION")
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]

print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------------+----------------------+-----------------------+------------+--------------------+
| ACCOUNT_NUMBER      |   TRANSACTION_AMOUNT | TRANSACTION_CHANNEL   | PROVINCE   | TRANSACTION_DATE   |
+=====================+======================+=======================+============+====================+
| 4000-1956-3456      |                -2000 | ATM withdrawl         | CA         | 2020-01-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -4000 | POS-Walmart           | MN         | 2020-02-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -1600 | UPI transfer          | MN         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -6000 | Bankers cheque        | CA         | 2020-03-23         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -3000 | Net banking           | CA         | 2020-04-24         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                23000 | cheque deposit        | MN         | 2020-03-15         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-6091      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-7791      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-3401      |                 8000 | Cash Deposit          | NY         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5102      |                -6500 | ATM withdrawal        | NY         | 2020-03-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5698      |                -9000 | Cash Deposit          | NY         | 2020-03-27         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                50000 | ECS transfer          | NY         | 2020-01-16         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -5000 | POS-Walmart           | NY         | 2020-02-17         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -8000 | Shopping Cart         | MN         | 2020-03-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -2500 | Shopping Cart         | MN         | 2020-04-21         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5800-1700-9800-7755 |                -9000 | POS-Walmart           | MN         | 2020-04-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5890-1970-7706-8912 |               -11000 | Shopping Cart         | NY         | 2020-03-12         |
+---------------------+----------------------+-----------------------+------------+--------------------+

**Bank customer messages table**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_CUSTOMERR_MESSAGES (
              	Event VARCHAR(24),
              	Customer_message VARCHAR(75),
              	Notice_delivery_mode VARCHAR(15)) ;
''')
conn.commit()

In [ ]:
cursor.execute("INSERT INTO BANK_CUSTOMERR_MESSAGES VALUES ('Adhoc', 'All Banks are closed due to announcement of National strike', 'mobile')")
cursor.execute("INSERT INTO BANK_CUSTOMERR_MESSAGES VALUES ('Transaction Limit', 'Only limited withdrawals per card are allowed from ATM machines', 'mobile')")
cursor.execute("INSERT INTO BANK_ACCOUNT_TRANSACTION(`Account_Number`, `Transaction_amount`, `Transcation_channel`, `Province`, `Transaction_Date`) VALUES ('4000-1956-9977' , 10000.00 ,'ECS transfer', 'MN' , '2020-02-16')")
cursor.execute("INSERT INTO BANK_ACCOUNT_TRANSACTION(`Account_Number`, `Transaction_amount`, `Transcation_channel`, `Province`, `Transaction_Date`) VALUES ('4000-1956-9977' , 40000.00 ,'ECS transfer', 'MN' , '2020-03-18')")
cursor.execute("INSERT INTO BANK_ACCOUNT_TRANSACTION(`Account_Number`, `Transaction_amount`, `Transcation_channel`, `Province`, `Transaction_Date`) VALUES ('4000-1956-9977' , 60000.00 ,'ECS transfer', 'MN' , '2020-04-18')")
cursor.execute("INSERT INTO BANK_ACCOUNT_TRANSACTION(`Account_Number`, `Transaction_amount`, `Transcation_channel`, `Province`, `Transaction_Date`) VALUES ('4000-1956-9977' , 20000.00 ,'ECS transfer', 'MN' , '2020-03-20')")
cursor.execute("INSERT INTO BANK_ACCOUNT_TRANSACTION(`Account_Number`, `Transaction_amount`, `Transcation_channel`, `Province`, `Transaction_Date`) VALUES ('4000-1956-9977' , 49000.00 ,'ECS transfer', 'MN' , '2020-06-18')")

conn.commit()

In [ ]:
from tabulate import tabulate

cursor.execute("SELECT * FROM BANK_CUSTOMERR_MESSAGES")
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]

print(tabulate(rows,headers=column_names,tablefmt="grid"))

+-------------------+-----------------------------------------------------------------+------------------------+
| Event             | Customer_message                                                | Notice_delivery_mode   |
+===================+=================================================================+========================+
| Adhoc             | All Banks are closed due to announcement of National strike     | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+
| Transaction Limit | Only limited withdrawals per card are allowed from ATM machines | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+

**Bank Interest Rate Table**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_INTEREST_RATES(
            	account_type varchar(24),
              	interest_rate decimal(4,2),
            	month varchar(2),
            	year  varchar(4)
             	);
''')
conn.commit()

In [ ]:
cursor.execute("INSERT  INTO BANK_INTEREST_RATES VALUES ( 'SAVINGS' , 0.04 , '02' , '2020' )")
cursor.execute("INSERT  INTO BANK_INTEREST_RATES VALUES ( 'RECURRING DEPOSITS' , 0.07, '02' , '2020' )")
cursor.execute("INSERT  INTO BANK_INTEREST_RATES VALUES   ( 'PRIVILEGED_INTEREST_RATE' , 0.08 , '02' , '2020' )")

conn.commit()

In [ ]:
from tabulate import tabulate

cursor.execute("SELECT * FROM BANK_INTEREST_RATES")
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]

print(tabulate(rows,headers=column_names,tablefmt="grid"))

+--------------------------+-----------------+---------+--------+
| account_type             |   interest_rate |   month |   year |
+==========================+=================+=========+========+
| SAVINGS                  |            0.04 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| RECURRING DEPOSITS       |            0.07 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| PRIVILEGED_INTEREST_RATE |            0.08 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+

1.Print customer Id, customer name and average account_balance maintained by each customer for all of his/her accounts in the bank.(8 Rows)

In [ ]:
query = """
SELECT
    c.customer_id,
    c.customer_name,
    AVG(a.Balance_amount) AS average_account_balance
FROM CUSTOMERR c
JOIN BANK_ACCOUNT a ON c.customer_id = a.Customer_id
GROUP BY c.customer_id, c.customer_name
ORDER BY c.customer_id;
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+-----------------+---------------------------+
|   CUSTOMER_ID | CUSTOMER_NAME   |   average_account_balance |
+===============+=================+===========================+
|        123001 | UDAY            |                  4.8e+06  |
+---------------+-----------------+---------------------------+
|        123002 | VAMSI           |                  3.95e+06 |
+---------------+-----------------+---------------------------+
|        123003 | RITHIKA         |             750000        |
+---------------+-----------------+---------------------------+

2.Print customer_id , account_number and balance_amount , condition that if balance_amount is nil then assign transaction_amount for account_type = "Credit Card"(4 Rows)

In [ ]:
query = """
SELECT
    a.customer_id,
    a.Account_Number,
    CASE
        WHEN a.Balance_amount IS NULL OR a.Balance_amount= 0
                                      AND a.Account_type = 'Credit Card'
                                      THEN t.Transaction_amount
                                      ELSE a.Balance_amount
                                      END AS balance_amount
                                      FROM Bank_Account_Details a
                                      LEFT JOIN BANK_ACCOUNTS_TRANSACTIONS t
                                      ON a.Account_Number = t.Account_Number
                                      WHERE a.Account_type = 'Credit Card';
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+---------------------+------------------+
|   Customer_id | Account_Number      |   balance_amount |
+===============+=====================+==================+
|        123007 | 9000-1700-7777-4321 |            -8000 |
+---------------+---------------------+------------------+
|        123007 | 9000-1700-7777-4321 |            -5000 |
+---------------+---------------------+------------------+
|        123007 | 9000-1700-7777-4321 |            -2500 |
+---------------+---------------------+------------------+
|        123006 | 5800-1700-9800-7755 |            -9000 |
+---------------+---------------------+------------------+

3.Print account_number and balance_amount , transaction_amount,Transaction_Date from Bank_Account_Details and bank_account_transaction for all the transactions occurred during march,2020 and april, 2020(12 Rows)

In [ ]:
query = """
SELECT
    b.account_number,
    b.balance_amount,
    t.transaction_amount,
    t.Transaction_Date
FROM
    Bank_Account_Details b
JOIN
    BANK_ACCOUNTS_TRANSACTION t ON b.account_number = t.account_number
WHERE
    t.Transaction_Date BETWEEN '2020-03-01' AND '2020-04-30';
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------------+------------------+----------------------+--------------------+
| Account_Number      |   Balance_amount |   TRANSACTION_AMOUNT | TRANSACTION_DATE   |
+=====================+==================+======================+====================+
| 4000-1956-2001      |           400000 |                -6000 | 2020-03-23         |
+---------------------+------------------+----------------------+--------------------+
| 4000-1956-2001      |           400000 |                -3000 | 2020-04-24         |
+---------------------+------------------+----------------------+--------------------+
| 4000-1956-2001      |           400000 |                23000 | 2020-03-15         |
+---------------------+------------------+----------------------+--------------------+
| 4000-1956-5102      |           300000 |                -6500 | 2020-03-14         |
+---------------------+------------------+----------------------+--------------------+
| 4000-1956-5698      |           455000 |                -9000 | 2020-03-27         |
+---------------------+------------------+----------------------+--------------------+
| 9000-1700-7777-4321 |                0 |                -8000 | 2020-03-13         |
+---------------------+------------------+----------------------+--------------------+
| 9000-1700-7777-4321 |                0 |                -2500 | 2020-04-21         |
+---------------------+------------------+----------------------+--------------------+
| 5800-1700-9800-7755 |                0 |                -9000 | 2020-04-13         |
+---------------------+------------------+----------------------+--------------------+
| 5890-1970-7706-8912 |                0 |               -11000 | 2020-03-12         |
+---------------------+------------------+----------------------+--------------------+

4.Print all of the customer id, account number, balance_amount, transaction_amount , Transaction_Date from bank_customer, Bank_Account_Details and bank_account_transaction tables where excluding all of their transactions in march, 2020 month (22 Rows)

In [ ]:
query = """
SELECT
 c.customer_id,
 b.Account_Number,
 b.Balance_amount,
 t.Transaction_amount,
 t.Transaction_Date
FROM
 CUSTOMERR c
JOIN
 Bank_Accounts_Detail b ON c.customer_id = b.Customer_id
JOIN
 BANK_ACCOUNTS_TRANSACTION t ON b.Account_number = t.Account_number
WHERE
 t.Transaction_Date NOT BETWEEN '2020-03-01' AND '2020-03-31';
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+------------------+------------------+----------------------+--------------------+
|   CUSTOMER_ID | ACCOUNT_NUMBER   |   BALANCE_AMOUNT |   TRANSACTION_AMOUNT | TRANSACTION_DATE   |
+===============+==================+==================+======================+====================+
|        123001 | 4000-1956-3456   |           200000 |                -2000 | 2020-01-13         |
+---------------+------------------+------------------+----------------------+--------------------+
|        123001 | 4000-1956-3456   |           200000 |                -2000 | 2020-01-13         |
+---------------+------------------+------------------+----------------------+--------------------+
|        123001 | 4000-1956-3456   |           200000 |                -2000 | 2020-01-13         |
+---------------+------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001   |           400000 |                -4000 | 2020-02-14         |
+---------------+------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001   |           400000 |                -4000 | 2020-02-14         |
+---------------+------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001   |           400000 |                -4000 | 2020-02-14         |
+---------------+------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001   |           400000 |                -1600 | 2020-01-19         |
+---------------+------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001   |           400000 |                -1600 | 2020-01-19         |
+---------------+------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001   |           400000 |                -1600 | 2020-01-19         |
+---------------+------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001   |           400000 |                -3000 | 2020-04-24         |
+---------------+------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001   |           400000 |                -3000 | 2020-04-24         |
+---------------+------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001   |           400000 |                -3000 | 2020-04-24         |
+---------------+------------------+------------------+----------------------+--------------------+

5.Print only the customer id, account_number, balance_amount,transaction_amount ,transaction_date who did transactions during the first quarter. Do not display the accounts if they have not done any transactions in the first quarter.(16 Rows)

In [ ]:
query="""
SELECT
  a.customer_id,
  t.account_number,
  a.balance_amount,
  t.transaction_amount,
  t.transaction_date
FROM
  BANK_ACCOUNT_DETAILS AS a
JOIN
  BANK_ACCOUNTS_TRANSACTION AS t
ON
  a.account_number = t.account_number
WHERE
  STRFTIME('%m', t.transaction_date) BETWEEN '01' AND '03'
ORDER BY
  a.customer_id, t.transaction_date;
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+---------------------+------------------+----------------------+--------------------+
|   Customer_id | ACCOUNT_NUMBER      |   Balance_amount |   TRANSACTION_AMOUNT | TRANSACTION_DATE   |
+===============+=====================+==================+======================+====================+
|        123001 | 4000-1956-3456      |           200000 |                -2000 | 2020-01-13         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001      |           400000 |                -1600 | 2020-01-19         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001      |           400000 |                -4000 | 2020-02-14         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001      |           400000 |                23000 | 2020-03-15         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001      |           400000 |                -6000 | 2020-03-23         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123004 | 4000-1956-3401      |           655000 |                 8000 | 2020-01-19         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123004 | 5000-1700-6091      |          7500000 |                40000 | 2020-02-19         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123005 | 4000-1956-5102      |           300000 |                -6500 | 2020-03-14         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123006 | 5890-1970-7706-8912 |                0 |               -11000 | 2020-03-12         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123006 | 4000-1956-5698      |           455000 |                -9000 | 2020-03-27         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123007 | 4000-1956-9977      |          7025000 |                50000 | 2020-01-16         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123007 | 9000-1700-7777-4321 |                0 |                -5000 | 2020-02-17         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123007 | 9000-1700-7777-4321 |                0 |                -8000 | 2020-03-13         |
+---------------+---------------------+------------------+----------------------+--------------------+

6.Print account_number, Event and Customer_message from BANK_CUSTOMER_MESSAGES and Bank_Account_Details to display an “Adhoc" Event for all customers who have “SAVINGS" account_type account.(8 Rows)

In [ ]:
query = """
SELECT
    b.Account_Number,
    m.Event,
    m.Customer_message
FROM
    BANK_ACCOUNT_DETAILS b
JOIN
    BANK_CUSTOMER_MESSAGES m
WHERE
    b.Account_type = 'SAVINGS'
    AND m.Event = 'Adhoc';
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+------------------+---------+-------------------------------------------------------------+
| Account_Number   | EVENT   | CUSTOMER_MESSAGE                                            |
+==================+=========+=============================================================+
| 4000-1956-3456   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-3456   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-2001   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-2001   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-2900   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-2900   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-3401   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-3401   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-5102   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-5102   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-5698   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-5698   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 5000-1700-9800   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 5000-1700-9800   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 5000-1700-7755   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 5000-1700-7755   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+

7.Print all Customer_id, Account_Number, Account_type, and display deducted balance_amount by subtracting only negative transaction_amounts for Relationship_type ="P" ( P - means Primary , S - means Secondary ) .(27 Rows)

In [ ]:
query = """
SELECT
    a.customer_id,
    a.account_number,
    a.account_type,
    CASE
        WHEN b.Transaction_amount < 0 THEN a.balance_amount + b.Transaction_amount
        ELSE a.balance_amount
    END AS deducted_balance_amount
FROM
    BANK_ACCOUNT_DETAILS a
JOIN
    BANK_ACCOUNTS_TRANSACTION b ON a.account_number = b.account_number
WHERE
    a.relationship_type = 'P';
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+---------------------+----------------+---------------------------+
|   Customer_id | Account_Number      | Account_type   |   deducted_balance_amount |
+===============+=====================+================+===========================+
|        123001 | 4000-1956-3456      | SAVINGS        |                    198000 |
+---------------+---------------------+----------------+---------------------------+
|        123002 | 4000-1956-2001      | SAVINGS        |                    394000 |
+---------------+---------------------+----------------+---------------------------+
|        123002 | 4000-1956-2001      | SAVINGS        |                    396000 |
+---------------+---------------------+----------------+---------------------------+
|        123002 | 4000-1956-2001      | SAVINGS        |                    397000 |
+---------------+---------------------+----------------+---------------------------+
|        123002 | 4000-1956-2001      | SAVINGS        |                    398400 |
+---------------+---------------------+----------------+---------------------------+
|        123002 | 4000-1956-2001      | SAVINGS        |                    400000 |
+---------------+---------------------+----------------+---------------------------+
|        123004 | 4000-1956-3401      | SAVINGS        |                    655000 |
+---------------+---------------------+----------------+---------------------------+
|        123005 | 4000-1956-5102      | SAVINGS        |                    293500 |
+---------------+---------------------+----------------+---------------------------+
|        123006 | 4000-1956-5698      | SAVINGS        |                    446000 |
+---------------+---------------------+----------------+---------------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card    |                     -8000 |
+---------------+---------------------+----------------+---------------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card    |                     -5000 |
+---------------+---------------------+----------------+---------------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card    |                     -2500 |
+---------------+---------------------+----------------+---------------------------+
|        123006 | 5800-1700-9800-7755 | Credit Card    |                     -9000 |
+---------------+---------------------+----------------+---------------------------+


8.a) Display records of All Accounts , their Account_types, the transaction amount.

8.b) Along with first step, Display other columns with corresponding linking account number, account types (15 Rows)

In [ ]:
# display records of all accounts, their Account_types, the transaction amount
query = """
SELECT
    a.Account_Number,
    a.Account_type ,
    t.Transaction_amount
FROM
    Bank_Account_Details a
JOIN
    BANK_ACCOUNTS_TRANSACTION t ON a.Account_Number = t.Account_Number  ;
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------------+--------------------+----------------------+
| Account_Number      | Account_type       |   TRANSACTION_AMOUNT |
+=====================+====================+======================+
| 4000-1956-3456      | SAVINGS            |                -2000 |
+---------------------+--------------------+----------------------+
| 4000-1956-2001      | SAVINGS            |                -6000 |
+---------------------+--------------------+----------------------+
| 4000-1956-2001      | SAVINGS            |                -4000 |
+---------------------+--------------------+----------------------+
| 4000-1956-2001      | SAVINGS            |                -3000 |
+---------------------+--------------------+----------------------+
| 4000-1956-2001      | SAVINGS            |                -1600 |
+---------------------+--------------------+----------------------+
| 4000-1956-2001      | SAVINGS            |                23000 |
+---------------------+--------------------+----------------------+
| 5000-1700-6091      | RECURRING DEPOSITS |                40000 |
+---------------------+--------------------+----------------------+
| 4000-1956-3401      | SAVINGS            |                 8000 |
+---------------------+--------------------+----------------------+
| 4000-1956-5102      | SAVINGS            |                -6500 |
+---------------------+--------------------+----------------------+
| 4000-1956-5698      | SAVINGS            |                -9000 |
+---------------------+--------------------+----------------------+
| 4000-1956-9977      | RECURRING DEPOSITS |                50000 |
+---------------------+--------------------+----------------------+
| 9000-1700-7777-4321 | Credit Card        |                -8000 |
+---------------------+--------------------+----------------------+
| 9000-1700-7777-4321 | Credit Card        |                -5000 |
+---------------------+--------------------+----------------------+
| 9000-1700-7777-4321 | Credit Card        |                -2500 |
+---------------------+--------------------+----------------------+
| 5800-1700-9800-7755 | Credit Card        |                -9000 |
+---------------------+--------------------+----------------------+
| 5890-1970-7706-8912 | Add-on Credit Card |               -11000 |
+---------------------+--------------------+----------------------+

In [ ]:
# Along with first step, Display other columns with corresponding linking account number, account types
query = """
SELECT
    a.Account_Number,
    a.Account_type,
    b.Linking_Account_Number
FROM
    Bank_Account_Details AS a
LEFT JOIN
    Bank_Account_Relationships_Details AS b ON a.Account_Number = b.Account_Number;
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------------+--------------------+--------------------------+
| Account_Number      | Account_type       | LINKING_ACCOUNT_NUMBER   |
+=====================+====================+==========================+
| 4000-1956-3456      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 5000-1700-3456      | RECURRING DEPOSITS | 4000-1956-3456           |
+---------------------+--------------------+--------------------------+
| 4000-1956-2001      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 5000-1700-5001      | RECURRING DEPOSITS | 4000-1956-2001           |
+---------------------+--------------------+--------------------------+
| 4000-1956-2900      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 5000-1700-6091      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------------+--------------------+--------------------------+
| 4000-1956-3401      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 4000-1956-5102      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 4000-1956-5698      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 5000-1700-9800      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |
+---------------------+--------------------+--------------------------+
| 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |
+---------------------+--------------------+--------------------------+
| 5900-1900-9877-5543 | Add-on Credit Card | 9000-1700-7777-4321      |
+---------------------+--------------------+--------------------------+
| 5000-1700-7755      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 5800-1700-9800-7755 | Credit Card        | 4000-1956-5698           |
+---------------------+--------------------+--------------------------+
| 5890-1970-7706-8912 | Add-on Credit Card | 5800-1700-9800-7755      |
+---------------------+--------------------+--------------------------+

9.a) Display records of All Accounts , their Account_types, the transaction amount.

9.b) Along with first step, Display other columns with corresponding linking account number, account types

9.c) After retrieving all records of accounts and their linked accounts, display the transaction amount of accounts appeared in another column.(26 Rows)

In [ ]:
# Along with first step, Display other columns with corresponding linking account number, account types
query = """
SELECT
    a.customer_id,
    a.Account_Number,
    a.Account_type,
    b.Linking_Account_Number
    FROM
    BANK_ACCOUNT_DETAILS AS a
LEFT JOIN
    BANK_ACCOUNT_RELATIONSHIP_DETAILS AS b ON a.account_number = b.account_number;
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+---------------------+--------------------+--------------------------+
|   Customer_id | Account_Number      | Account_type       | Linking_Account_Number   |
+===============+=====================+====================+==========================+
|        123001 | 4000-1956-3456      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS | 4000-1956-3456           |
+---------------+---------------------+--------------------+--------------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS | 4000-1956-2001           |
+---------------+---------------------+--------------------+--------------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
|        123004 | 4000-1956-3401      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123005 | 4000-1956-5102      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123006 | 4000-1956-5698      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 5900-1900-9877-5543 | Add-on Credit Card | 9000-1700-7777-4321      |
+---------------+---------------------+--------------------+--------------------------+
|        123008 | 5000-1700-7755      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123006 | 5800-1700-9800-7755 | Credit Card        | 4000-1956-5698           |
+---------------+---------------------+--------------------+--------------------------+
|        123006 | 5890-1970-7706-8912 | Add-on Credit Card | 5800-1700-9800-7755      |
+---------------+---------------------+--------------------+--------------------------+

In [ ]:
# After retrieving all records of accounts and their linked accounts, display the transaction amount of accounts appeared in another column.
query = """
    SELECT
        a.customer_id,
        a.Account_Number,
        a.Account_type,
        b.Linking_Account_Number,
        t.Transaction_amount
    FROM
        BANK_ACCOUNT_DETAILS AS a
    LEFT JOIN
        BANK_ACCOUNT_RELATIONSHIP_DETAILS AS b ON a.account_number = b.account_number
    LEFT JOIN
        BANK_ACCOUNTS_TRANSACTION AS t ON a.account_number = t.account_number;
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+---------------------+--------------------+--------------------------+----------------------+
|   Customer_id | Account_Number      | Account_type       | Linking_Account_Number   |   TRANSACTION_AMOUNT |
+===============+=====================+====================+==========================+======================+
|        123001 | 4000-1956-3456      | SAVINGS            |                          |                -2000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS | 4000-1956-3456           |                      |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |                -6000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |                -4000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |                -3000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |                -1600 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |                23000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS | 4000-1956-2001           |                      |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |                          |                      |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS | 4000-1956-2900           |                40000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123004 | 4000-1956-3401      | SAVINGS            |                          |                 8000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123005 | 4000-1956-5102      | SAVINGS            |                          |                -6500 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123006 | 4000-1956-5698      | SAVINGS            |                          |                -9000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |                          |                      |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |                50000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |                -8000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |                -5000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |                -2500 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 5900-1900-9877-5543 | Add-on Credit Card | 9000-1700-7777-4321      |                      |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123008 | 5000-1700-7755      | SAVINGS            |                          |                      |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123006 | 5800-1700-9800-7755 | Credit Card        | 4000-1956-5698           |                -9000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123006 | 5890-1970-7706-8912 | Add-on Credit Card | 5800-1700-9800-7755      |               -11000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+

10.Display all saving account holders have “Add-on Credit Cards" and “Credit cards" (3 Rows)

In [ ]:
query = """
SELECT
    c.customer_id,
    c.customer_name
FROM CUSTOMERS c
JOIN BANK_Account_Details a ON c.customer_id = a.customer_id
WHERE a.account_type IN ('SAVINGS','Credit Card')
GROUP BY c.customer_id, c.customer_name
HAVING COUNT(DISTINCT a.account_type) = 2
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+-----------------+
|   customer_id | customer_name   |
+===============+=================+
|        123006 | JYOTHISWAR      |
+---------------+-----------------+
|        123007 | URVISH          |
+---------------+-----------------+

11.Display records of “SAVINGS” account linked with “Credit cards" account_type and its credit aggregate sum of transaction amount. (1 Row)
Ref: Check linking relationship in bank_transaction_relationship_details.

Check transaction_amount in bank_account_transaction.

In [ ]:
# Display records of “SAVINGS” account linked with “Credit cards" account_type and its credit aggregate sum of transaction amount. (1 Row)
query = """
SELECT
    a.Account_Number,
    SUM(t.Transaction_amount) AS total_transaction_amount
FROM Bank_Account_Detail a
JOIN BANK_ACCOUNTS_TRANSACTION t ON a.Account_Number = t.Account_Number
JOIN BANK_ACCOUNT_RELATIONSHIPS_DETAILS r ON a.Account_Number = r.Linking_Account_Number
WHERE a.Account_type = 'SAVINGS' AND r.Account_type = 'Credit Card'
GROUP BY a.Account_Number;
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+------------------+----------------------------+
| Account_Number   |   total_transaction_amount |
+==================+============================+
| 4000-1956-5698   |                      -9000 |
+------------------+----------------------------+